.HomePage {
  margin: 0;
}

.HomePageHeader {
  background-image: url("../../src/images/buffet-chicken-cooking-5938\ \(1\).jpg");
  background-size: cover;
  height: 25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position:center;
  align-items: center;
}

.HomePageHeader > h1 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 3rem;
  text-shadow: 1px 1px 2px black, 0 0 1em grey, 0 0 0.2em grey;;
}

h2 {
  margin: 0 0 40px 0;
}

.TextUnderSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.UserCompanyInfo {
  margin: 0;
  padding: 0;
}

.UserCompanyInfo > p {
  margin: 0;
  font-size: 0.8rem;

}

.FilterLink {
  margin: 0;
}

.FilterLink > button {
  border: none;
  font-family: "Roboto Mono", monospace;
  background: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  text-decoration: underline;
}

/* .reviewsCaroussel {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
} */