input {
  width: 25rem;
  height: 1.5rem;
  border-radius: 10px;
  border: none;
  padding: 0 20px;
  font-family: "Roboto Mono", monospace;
  background-color: rgba(255,255,255, 0.8);
  outline: none;
}

.HomePageSearch > form > label > button {
  border-radius: 10px;
  background-color: grey;
  border: none;
  padding: 3px 5px;
  cursor: pointer;
  margin-left: 15px;
}

.HomePageSearch > form > label {
  display: flex;
  flex-direction: row;
}