.HomePage {
  margin: 0;
}

.HomePageHeader {
  background-image: url("https://images.unsplash.com/photo-1543364195-bfe6e4932397?ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80");
  background-size: cover;
  height: 25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  margin: 0 0 40px 0;
}

.TextUnderSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.UserCompanyInfo {
  margin: 0;
  padding: 0;
}

.UserCompanyInfo > p {
  margin: 0;
  font-size: 0.8rem;

}

.FilterLink {
  margin: 0;
}

.FilterLink > button {
  border: none;
  font-family: "Roboto Mono", monospace;
  background: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  text-decoration: underline;
}

/* .reviewsCaroussel {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
} */