.OneReviewPreview {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.ReviewPreview {
  border: solid 1px black;
  width: 32%;
  height: 20rem;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}

.ReviewerPicture {
  width: 35%;
  border: solid 1px black;
  height: 100%;
}

.ReviewInfo {
  width: 65%;
  height: 100%;
  border: solid 1px black;
}

.ReviewInfo > p {
  word-break: break-all;
}

.ReviewInfo > h2 {
  margin-top: 20px;
}
