.OneReviewPreview {
  background-color: pink;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 30%;
  border-radius: 5px;
  background-color: rgb(229, 236, 234);
  border: 2px solid #AAD3C9;
}

.OneReviewPreview > img {
  width: 30%;
}

.ReviewPreview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
}
